
.darkblue{
    background: #0d7edb;
    /* background: rgb(42, 143, 207); */
    min-height: 100vh;
    min-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}